# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Ignore all hidden folders
.*/

# PyTorch Lightning checkpoints and logs
lightning_logs/
checkpoints/

# Data and model files
*.ckpt
*.pth
*.pt
*.safetensors

# Ignore pickle and dataset files
*.pkl
*.npz
*.npy

# Ignore logs
*.log
wandb/latest-run

# Ignore environment files
.env
.env.*